<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Agregar una nueva novedad</h4>
            <form action="/admin/novedades/agregar" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Titulo" name="titulo" id="">
                </div>
                <div class="form-group">
                    <textarea name="subtitulo" placeholder="subtitulo" class="form-control" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <textarea name="cuerpo" class="form-control" placeholder="Cuerpo" id="" cols="30" rows="10"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
        {{#if error}}
            <h5>{{message}}</h5>
        {{/if}}
    </div>
</div>