<div class="row my-5">
    <div class="col-4 offset-4">
        <form action="/admin/login" method="post">
            <div class="col-12">
                <label for="usuario">Usuario</label>
                <input type="text" class="form-control" name="usuario">
            </div>
            <div class="col-12">
                <label for="contrase単a">Contrase単a</label>
                <input type="password" class="form-control" name="contrase単a" id="">
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
        {{#if error }}
            <p>Usuario o contrase単a incorrectos</p>
        {{/if}}
    </div>
</div>